<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76516238191-h0lbs9br6c5r8thboapagcqcmohqav1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76516238191-h0lbs9br6c5r8thboapagcqcmohqav1u</string>
	<key>API_KEY</key>
	<string>AIzaSyAXGBJKzZ4v9Leq5zn5IL5pSGebA4OSgEw</string>
	<key>GCM_SENDER_ID</key>
	<string>76516238191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dan.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>loginchatfirebase-99380</string>
	<key>STORAGE_BUCKET</key>
	<string>loginchatfirebase-99380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76516238191:ios:4d720bcda7427d11ab7e9a</string>
	<key>DATABASE_URL</key>
	<string>https://loginchatfirebase-99380.firebaseio.com</string>
</dict>
</plist>